@media screen and (max-height:1788px) {
body
{ margin-top: -132px; }

#overall_mask
{ margin-top: -132px; }

}
body{
  position: absolute;
  padding: 0;
  margin: 0;
     height: 1788px;
  top: 0;
  left: 0;
}
#overall_mask{
  position: absolute;
  height: 1788px;
  width: 1080px;
  top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 0;
}
#main{
  position: absolute;
  z-index: 1;
     height: 1788px;
  width: 1080px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#mainBanner{
  position: absolute;
  z-index: 1;
     height: 1788px;
  width: 1080px;
  overflow-x: hidden;
  overflow-y: hidden;   
}
#mainBanner1{
  position: absolute;
  z-index: 1;
     height: 1788px;
  width: 1080px;
 overflow-x: hidden;
  overflow-y: hidden;
    opacity: 0;
}
#headline1{
  position: absolute;
  z-index: 2;
    top:1100px;
    left: 30px;
}
#headline2{
  position: absolute;
  z-index: 2;
      top:1100px;
    left: 30px;
}
#headline3{
  position: absolute;
  z-index: 2;
      top:1100px;
    left: 30px;
}
#headline4{
  position: absolute;
  z-index: 2;
     top:300px;
    left: 570px;
}
#headline5{
  position: absolute;
  z-index: 2;
top:400px;
    left: 600px;
}

#offer{
  position: absolute;
  z-index: 2;
top:50px;
  right: -1080px;    
}

#cta{
  position: absolute;
  z-index: 2;
    top:980px;
}
#BottomBar{
  position: absolute;
  z-index: 6;
    width: 1080px;
    top:1200px;
}
#BottomBar1{
  position: absolute;
  z-index: 2;
    width: 1080px;
    top:1200px;
    opacity: 0;
}
#pi{
  position: absolute;
  z-index: 6;
  top: 1566px;
  left: 52px;
  width: 455px;
  height: 110px;
}
#ppi{
  position: absolute;
  z-index: 6;
  top: 1566px;
  left: 552px;
  width: 455px;
  height: 110px;
}
#pi1{
  position: absolute;
  z-index: 11;
  top: 1660px;
  left: 52px;
  width: 455px;
  height: 110px;
}
#ppi1{
  position: absolute;
  z-index: 11;
  top: 1660px;
  left: 552px;
  width: 455px;
  height: 110px;
}
/* Start-of-the-ISI */
#isi_image{
  position: absolute;
margin-top: 30px;
     z-index: 3;
}
#isi{
  position: absolute;
  background-color: white;
  top: 1230px;
  width: 1080px;
  height: 566px;
  font-size: 11px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Arial-Narrow";
     z-index: 3;
  
}
#isi::-webkit-scrollbar {
  width: 30px;
  margin-top: 10px;
}

#isi::-webkit-scrollbar-track {
  border: 1px solid #d7d7d7;
  border-radius: 7px;
}

#isi::-webkit-scrollbar-thumb {
  height: 75px;
  background-color: #d7d7d7;
  background-position: top;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  border-radius: 7px;
  background-clip: content-box;
}
/* End-of-the-ISI */
